body{
    display: flex;
    justify-content:center;
    background: #4B0082;
    height: 100vh;
    font-family: garamond, sans-serif;
}
.calculator{
    background: #8A2BE2;
    padding: 20px;
    border-radius: 12px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}
button{
    background: #4B0082;
    height: 60px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor:pointer;
    color:#D8BFD8;
    transition:background 0.2s;
    border-color:#9370DB ;
    
}
button:hover{
    background: #8A2BE2;
    color:#4B0082;
}
button.zero{
    grid-column: span 2;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-gap: 10px;
}
  #display{
  width: 92%;
  height: 42px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  border-color: #8A2BE2 ;
  border-radius:8px;
  background: #D8BFD8;
  color: black;
  }
